[tool.poetry]
name = "deezer-oauth-cli"
version = "0.0.1"
description = "A small CLI to quickly obtain an API token for Deezer API."
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/browniebroke/deezer-oauth-cli"
documentation = "https://deezer-oauth-cli.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "deezer_oauth" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/browniebroke/deezer-oauth-cli/issues"
"Changelog" = "https://deezer-oauth-cli.readthedocs.io/changelog.html"

[tool.poetry.scripts]
deezer-oauth = "deezer_oauth.main:app"

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.27.1"
typer = {extras = ["all"], version = "^0.4.0"}

# Documentation Dependencies
Sphinx = {version = "^4.0.0", optional = true}
sphinx-rtd-theme = {version = "^1.0.0", optional = true}
myst-parser = {version = "^0.16.0", optional = true}

[tool.poetry.extras]
docs = [
    "myst-parser",
    "sphinx",
    "sphinx-rtd-theme",
]

[tool.poetry.dev-dependencies]
black = "^21.11b1"
flake8 = "^4.0.0"
isort = "^5.10.1"
pytest = "^6.1.2"
pytest-cov = "^3.0.0"
pyupgrade = "^2.29.1"
tox = "^3.20.1"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "deezer_oauth/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=deezer_oauth --cov-report=term-missing:skip-covered"

[tool.coverage.run]
branch = true

[tool.isort]
profile = "black"
known_first_party = ["deezer_oauth", "tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
