[tool.poetry]
name = "deezer-oauth-cli"
version = "0.2.2"
description = "A small CLI to quickly obtain an API token for Deezer API."
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/browniebroke/deezer-oauth-cli"
documentation = "https://github.com/browniebroke/deezer-oauth-cli/blob/main/README.md"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "deezer_oauth", from = "src" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/browniebroke/deezer-oauth-cli/issues"
"Changelog" = "https://github.com/browniebroke/deezer-oauth-cli/blob/main/CHANGELOG.md"

[tool.poetry.scripts]
deezer-oauth = "deezer_oauth.main:app"

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.27"
typer = {extras = ["all"], version = "^0.4.0"}
rich-click = ">=1.0"

[tool.poetry.dev-dependencies]
pyfakefs = "^4.5"
pytest = "^7.0"
pytest-cov = "^3.0"
pytest-mock = "^3.6"
responses = "^0.21.0"
tox = "^3.20"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/deezer_oauth/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=deezer_oauth --cov-report=term-missing:skip-covered"
pythonpath = ["src"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
ignore_errors = true
exclude_lines = [
    "pragma: no cover",
    "@overload",
    "if TYPE_CHECKING"
]

[tool.isort]
profile = "black"
known_first_party = ["deezer_oauth", "tests"]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
